<div class="card">
  <div class="card-header">
    Editando Producto
    <span class="badge bg-secondary">Id: <%= @product.id %></span>
  </div>
  <div class="card-body">
    <%= render 'form', product: @product %>
  </div>
  <div class="card-footer">
    <%= link_to 'Mostrar', @product %> |
    <%= link_to 'Regresar', products_path %>
  </div>
</div>
