<div class="card">
  <div class="card-header">
    Nuevo Producto
  </div>
  <div class="card-body">
    <%= render 'form', product: @product %>
  </div>
  <div class="card-footer">
    <%= link_to 'Regresar', products_path %>
  </div>
</div>
